!!!
html
	head
		title= 'scpldb'
		link(rel='stylesheet', href='http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src = 'http://code.jquery.com/jquery-1.6.1.min.js')
		script(src = '/javascripts/base.js')
	body!= body